<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/index.css">

    <title>Internet Speed Test Survey</title>
</head>

<body>
    <div>
        <h2>Internet Speed Test Survey</h2>
        <input id="current-speed" name="current-speed" type="number"><br>
        <button id="add-speed-btn">Enter Internet Speed</button>
    </div>
    <div id="values">
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
        <div>10</div>
    </div>
    <div>Average Internet Speed: <span id="average-speed"></span></div>
</body>
<script src="../app/index.js"></script>

</html>